<div class="car-details-container">
    <div class="car-image">
        <img [src]="carImageSrc" alt="Car Image">
      </div>
</div>
<div class="car-details-container">
    <div class="details">
      <div class="detail-item">
        <span class="label">Car Name:</span>
        <span class="value">{{ carName }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Car Model:</span>
        <span class="value">{{ carModel }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Manufacturing Year:</span>
        <span class="value">{{ manufacturingYear }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Transmission Type:</span>
        <span class="value">{{ transmissionType }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Fuel Type:</span>
        <span class="value">{{ fuelType }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Engine Capacity:</span>
        <span class="value">{{ engineCapacity }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Color:</span>
        <span class="value">{{ color }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Dealers:</span>
        <span class="value">{{ dealers }}</span>
      </div>
      <div class="detail-item">
        <span class="label">NCT:</span>
        <span class="value">{{ nct }}</span>
      </div>
    </div>
  </div>
  