<div class="car-widget">
    <div class="car-image">
      <img [src]="carImageSrc" alt="Car Image">
    </div>
    <div class="car-details">
      <h2 class="car-name">{{ carName }}</h2>
      <p class="brand-name">Brand: {{ brandName }}</p>
      <p class="manufacture-year">Manufacture Year: {{ manufactureYear }}</p>
      <p class="miles-drove">Miles Drove: {{ milesDrove }}</p>
      <p class="subscription-type">Subscription Type: {{ subscriptionType }}</p>
      <p class="dealer-name">Dealer: {{ dealerName }}</p>
      <p class="button-container">
        <button type="submit">View Details</button>
      </p>
    </div>
  </div>
  