/* registration.component.css */

.registration-container {
  display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #c68a8a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #b8ccb3;
  }
  
  h1 {
    text-align: center;
  }
  .form-level{
    width: 80%;
  }

  .form-group {
    margin-bottom: 15px;
    display: flex;
    width: 100%;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  